<!-- ==============================BARRA DE NAVEGACION===================== -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="barranav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">La Juanis</a>
    </div>
    <ul class="nav navbar-nav">
      <li id="activelink"><a href="/">Inicio</a></li>
      <li><a href="/galeria">Galeria</a></li>
      <li><a href="/pedidos">Pedidos</a></li> 
      <li><a href="/historia">Contactanos</a></li> 
    </ul>
  </div>
</nav>
<!-- ==============================BARRA DE NAVEGACION===================== -->
<div class="jumbotron" align="center" id="mainheader">
  <h1>Bienvenidos a La Juanis!</h1>
</div>
